<button {{action 'addToList' question}}>Mark as Favorite</button>
<br>
Total Answers: {{totalAnswers}}
<br>
<strong>Author:</strong> {{question.user}}
<br>
<strong>Original Question:</strong> {{question.title}}
<br>
<strong>Further explanation:</strong> {{question.notes}}
<br>
<strong>Answers to {{question.user}}'s question:</strong>
<br>
<ul>
  {{#each question.answers as |answer|}}
    <li>{{#link-to 'answer' answer.id}}{{answer.author}}'s answer.{{/link-to}}</li>
  {{/each}}
</ul>
